<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Coaching Management System</title>
    <link rel="stylesheet" href="/assets/fontawesome/css/all.css" />
    <link rel="stylesheet" href="/assets/css/bootstrap.css" />
    <link rel="stylesheet" href="/assets/css/style.css" />
    <link rel="stylesheet" href="/assets/css/responsive.css" />
</head>

<body>
    <section class="nav-section">
        <header class="admin-panel">
            <nav class="nav-design">
                <div class="logo">
                    <h2>Vanila</h2>
                </div>
                <ul>
                    <li>
                        <h5><%= adminName %></h5>
                    </li>
                    <li>
                        <a href="" class="btn-primary"><i class="fas fa-bell"></i></a>
                    </li>
                    <li>
                        <a href="/logout" class="n-btn"> Logout </a>
                    </li>
                </ul>
            </nav>
        </header>
    </section>

    <section>
        <div id="wrapper">
            <!-- Sidebar -->
            <div class="sidebar">
                <ul>
                    <li>
                        <i class="fas fa-users"></i> <a href="/home">Profile</a>
                    </li>
                    <li>
                        <i class="fas fa-users"></i> <a href="/home/create_course">Create Course</a>
                    </li>
                    <li>
                        <i class="fas fa-users"></i> <a href="/home/view_course">View Course</a>
                    </li>
                    <li>
                        <i class="fas fa-users"></i> <a href="/home/approve_student">Approve Student</a>
                    </li>
                    <li>
                        <i class="fas fa-users"></i> <a href="/home/approve_teacher">Approve Teacher</a>
                    </li>
                    <li>
                        <i class="fas fa-users"></i> <a href="/home/student_info">Student Info</a>
                    </li>
                    <li>
                        <i class="fas fa-users"></i> <a href="/home/teacher_info">Teacher Info</a>
                    </li>
                    <li>
                        <i class="fas fa-users"></i> <a href="/home/notes_upload">Notes Upload</a>
                    </li>
                    <li>
                        <i class="fas fa-users"></i> <a class="ad-active" href="/home/notice_upload">Notice Upload</a>
                    </li>
                    <li>
                        <i class="fas fa-users"></i> <a href="/home/marks_entry">Create Marks</a>
                    </li>
                    
                    <li>
                        <i class="fas fa-hands-helping"></i> <a href="/home/entry_salary">Entry Salary</a>
                    </li>
                    
                    <li>
                        <i class="fas fa-hands-helping"></i> <a href="/home/view_salary">View Salary</a>
                    </li>
                    
                    <li>
                        <i class="fas fa-hands-helping"></i> <a href="/home/report"> Report </a>
                    </li>
                </ul>
            </div>

            <div id="content-wrapper">
                <div class="container-fluid">
                    <div class="row justify-content-center text-center">
                        <div class="col-lg-8 mb-4 mr-auto">
                            <h1>Notice Upload</h1>
                        </div>
                        <div class="col-lg-5">
                            <form class="form" id="insertNotice">                 
                                <div class="form-group">
                                    <label for="topic" class="font-weight-bold">Topic</label>
                                    <input type="text" class="form-control" id="topic" placeholder="enter topic" name="topic">
                                </div>
            
                                <div class="form-group">
                                    <label for="exampleFormControlTextarea1" class="font-weight-bold">Details</label>
                                    <textarea class="form-control" id="details" rows="6" placeholder="write something" name="details" ></textarea>
                                </div>
                                <input type="submit" class="btn btn-primary" value="upload" >
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script src="/assets/js/jquery.js"></script>
    <script src="/assets/js/proper.js"></script>
    <script src="/assets/js/bootstrap.js"></script>

    <script>
         $(document).ready(function(){
			$('#insertNotice').submit(function (e) { 
			e.preventDefault();
			var ndata = $(this).serialize();

			$.ajax({
			type: 'POST',
			url: '/home/notice_upload',
			data: ndata,
			success: function (result) {
                document.getElementById('topic').value="";
                document.getElementById('details').value="";
                alert(result.msg);
			},
			error: function(result){
				console.log("error");
			}
			
			});		
            });
            
            
		});
    </script>
</body>

</html>